html, body, header, main, section, div, h1, p, img,a,i,footer{
    max-width: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    font-weight: 600;
}


/*==================== Header Section ====================*/
header{
    margin-top: 20px;
}
header img{
    height: 40px;
}
header div div{
   
    height: 40px;
    justify-self: flex-end;
    padding: 0;
}
header div div i{
    margin-left: auto;
    
}
/*<--Header Section*/
/*==================== Intro Section ====================*/
.intro{
    margin-left: 30px;
    margin-right: 30px;

}
.intro-principal{
    background-image: url("../assets/intro-Fondo%20Fixed.svg");
    /* Set a specific height */
    height: 35vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    margin: 30px;
}
.intro-principa-mov{
    background-image: url("../assets/intro-Fondo.svg");
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: repeat;
    height: 35vw;
}
.intro-Img{
    margin-top: -80px;
}
.description-Intro{
    margin: 20px auto auto 30px;
    width: 50%;
    color: white;
}
.description-Intro p{
    font-size: 24px;
    font-weight: 300;
}
.downloadStore{
    background-color: white;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    border: #1b143dbb 2px solid;
    display: inline-block;
    color: midnightblue;
}
.icon{
    max-width: 100px;
    padding-left: 5px;
}
.iconStore{
    
    font-size: 45px
}
.downloadStore .icon .fab{
    font-size: 20px;
}
.downloadStore{
    
    margin-right: 20px;
}
.text-peq{
    font-size: 12px;
}
.text-grande{
    line-height: 20px;
    font-size: 20px;
    font-weight: 600;
}
#TyC{
    background-color: #1b143d94;
    border: orange 1.5px solid;
    margin-top: 20px;
    padding: 6px;
    border-radius: 30px;
    color: orange;
    width: 300px;
    height: 45px;
}
#TyC a{
    color: orange;
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
@media (max-width: 376px){
    header{
        width: 90%;
    }
    .intro{
        width: 95%;
        margin-left: 10px;
        margin-right: 10px;
    }
    #logoWitcash{
        width: 250px;
        margin-left: 0;
        margin-right: auto;
    }
    #cabecera{
        display: flex;
        justify-content: space-between !important;
        padding-bottom: 30px;
    }
    #iconMenu{
        width: 20%;
    }
    .intro-principal, .intro-principa-mov{
        height:510px;
    }
    .intro-Img{
        position: relative;
        width: 100%;
        height: 250px;
    }
    #divImg{
        padding: 0;
        margin: 0;
        
    }
    .description-Intro p{
        font-size: 18px;
        width: 95%;
        margin: auto;
        text-align: center;
    }
    .description-Intro h1{
        font-size: 26px;
        width: 95%;
        margin: auto;
        margin-top: -20px;
        text-align: center;

    }
    .description-Intro{
        width: 100%;
        margin-left:0 ;
        margin-right: 0;
        padding-top: -50px;
    }
    #TyC{
        margin-left: auto;
        margin-right: auto;
        width: 160px;
        padding: 0px;
    }
    .description-Intro{
        order: 2;
    }
    #Stores{
        width: 150px;
        margin: auto;
    }
    .iconStore{
        padding-top: 0;
        line-height: 28px;
    }
    #TyC a{
        font-size: 12px;
        line-height: 28px;
        text-align: center;
        padding: 0;
    }
    #TyC .fa-angle-right{
        display: none;
    }
}
@media  (min-width: 376px) and (max-width: 575px){
        header{
            width: 90%;
        }
        .intro{
            width: 95%;
            margin-left: 10px;
            margin-right: 10px;
        }
        #logoWitcash{
            width: 250px;
            margin-left: 0;
            margin-right: auto;
        }
        #cabecera{
            display: flex;
            justify-content: space-between !important;
            padding-bottom: 30px;
        }
        #iconMenu{
            width: 20%;
        }
        .intro-principal, .intro-principa-mov{
            height:550px;
            margin: 0;
        }
        .intro-Img{
            height: 350px;
            width: 100%;
            margin:auto;
            margin-top: -60px;
            padding-bottom: 0;
            margin-bottom: -20px;
            order: 1;
        }
        #divImg{
            padding: 0;
        }
        .description-Intro p{
            font-size: 18px;
            width: 95%;
            margin: auto;
            text-align: center;
        }
        .description-Intro h1{
            font-size: 30px;
            width: 100%;
            margin: auto;
            margin-top: -50px;
            text-align: center;

        }
        .description-Intro{
            width: 100%;
            margin-left:0 ;
            margin-right: 0;
        }
        #TyC{
            margin-left: auto;
            margin-right: auto;
            width: 160px;
            padding: 0px;
        }
        .description-Intro{
            order: 2;
        }
        #Stores{
            width: 150px;
            margin: auto;
        }
        .iconStore{
            line-height: 0.8em;
        }
         #TyC a{
            font-size: 12px;
            line-height: 28px;
            text-align: center;
            padding: 0;
        }
        #TyC .fa-angle-right{
            display: none;
        }

    }
    @media  (min-width: 576px) and (max-width: 767px) {
        .intro-principal, .intro-principa-mov{
            height: 650px;
        }
        .intro-Img{
            max-height: 400px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: -50px;
            padding-bottom: 0;

        }
        .description-Intro p{
            font-size: 28px;
            width: 80%;
            margin: auto;
            text-align: center;
        }
        .description-Intro h1{
            font-size: 38px;
            width: 80%;
            margin: auto;
            text-align: center;

        }
        .description-Intro{
            width: 100%;
            margin-left:0 ;
            margin-right: 0;
        }
        #TyC{
            margin-left: auto;
            margin-right: auto;
            width: 300px;
        }

    }
    @media (min-width: 768px) and (max-width: 991px) {
        .intro-principal, .intro-principa-mov{
            height: 360px;
        }
        .intro-Img{
            width: 850px;
            min-width: 350px;

        }
        .description-Intro p{
            font-size: 24px;
        }
        .description-Intro h1{
            font-size: 36px;
        }
        #Stores{
            min-width: 250px;
            margin: auto;
        }
        .iconStore{
            line-height: 1em;
        }
    }
    @media (min-width: 992px) and (max-width: 1200px) {
        .intro-principal, .intro-principa-mov{
            height: 370px;
        }
        .intro-Img{
            min-width: 500px;
            max-width: 800px;
            margin-bottom: -100px;
            padding-bottom: 0;
            margin-left: -50px;
        }
        .description-Intro p{
            font-size: 28px;
        }
        .description-Intro h1{
            line-height: 44px;
            font-size: 48px;
        }
    }
    @media (min-width: 1200px) {
        .intro-principal, .intro-principa-mov{
            height: 400px;
        }
        .intro-Img{
            min-width: 520px;
            max-width: 600px;
            margin-bottom: -100px;
            padding-bottom: 0;
            margin-left: 0px;
        }
        .description-Intro p{
            font-size: 33px;
        }
        .description-Intro h1{
            line-height: 65px;
            font-size: 48px;
        }
        #Stores{
            width: 600px;
        }
        .iconStore{
            line-height: 1em;
        }
    }

/*<--Intro Section*/

/*==================== Invite Section ====================*/
        #invite{
            color: #3C3C3B;
            background-image: url(../assets/BGSection2.svg);
            background-repeat: no-repeat;
            background-position: center;
            margin: auto;
        }
        #invite h2 span{
            color: white;
            margin-left: 5px;
            background-color: #FE2A6F;
            border-radius: 20px;
            padding: 2px 15px;

        }
        #invite p{
            font-size: 22px;
        }
        @media (max-width: 576px){
            #invite{
                text-align: center;
                background-size: 150%;
                background-position: left;
            }

        }
        @media  (min-width: 576px) and (max-width: 768px){
            #invite p {
                text-align: center;
            }
        }
        @media (min-width: 768px) and (max-width: 992px){


        }
        @media (min-width: 992px) and (max-width: 1200px){
            #invite{
                margin-top: 50px;
            }
        }
        @media (min-width: 1200px) {
            #invite{
                padding-top: 60px;
            }
        }
/*<--Invite Section*/

/*==================== service Section ====================*/
        #service{
            background: rgb(27,20,61);
            background: linear-gradient(90deg, rgba(27,20,61,1) 0%, rgba(43,42,101,1) 35%);
            height: 300px;
            width: 100%;
            margin-top: 50px;
            color: white;
            -webkit-box-shadow: 0px 13px 25px 10px rgba(0,0,0,0.73);
            -moz-box-shadow: 0px 13px 25px 10px rgba(0,0,0,0.73);
            box-shadow: 0px 13px 25px 10px rgba(0,0,0,0.73);
            z-index: 900;
        }
        #service div{
            background-image: url(../assets/BGSectio3HorizMd.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 300px;
        }
        #service ul{
            font-size: 26px;
            font-weight: 300;
            text-decoration: none;
            list-style: none;
            text-align: left;
            padding-top: 100px;
        
        }
        #itemServ1{
            color: #FFD94A;
            font-weight: 600;
        }
        #itemServ2{
            background-color: #E1E1E1;
            border-radius: 20px;
            font-weight: 600;
            color: #2B2A65;
            padding: 1px 12px 2px;
        }
        #itemServ3{
            color: #00F79B;
            font-weight: 600;
        }
        #itemServ4{
            color: #00CAD8;
            font-weight: 600;
        }
        #monedaImg{
            position: relative;
            left:-12%;
            top: -140px;
            width: 12%;


        }
        @media (max-width: 576px){
            header{
                background-color: yellow;
            }
            #service{
                background: rgb(27,20,61);
                background: linear-gradient(0deg, rgba(27,20,61,1) 29%, rgba(43,42,101,1) 72%);
                height: 500px;
                width: 100%;
                margin-top: 100px;
            }
            #service div{
                background-image: url(../assets/BGSectio3VerticalXs.svg);
                height: 500px;
                background-size: 85%;
            }
            #monedaImg{
                position: relative;
                left: 45%;
                top: -75vh;
                width: 60px;
            }
            #service ul{
                padding: 0;
                margin: auto;
                padding-top: 300px;
                text-align: center;
                font-size: 18px;
                line-height: 20px;
            }
            #service ul li{
                margin-bottom: 20px;
            }
            
        }
        @media  (min-width: 576px) and (max-width: 767px){
            header{
                background-color: orchid;
            }
            #service{
                background: rgb(27,20,61);
                background: linear-gradient(0deg, rgba(27,20,61,1) 29%, rgba(43,42,101,1) 72%);
                height: 580px;
                width: 100%;
                margin-top: 100px;
            }
            #service div{
                background-size: cover;
                background-image: url("../assets/BGSectio3Vertical.svg");
                background-repeat: no-repeat !important;
                background-position: top;
                height: 550px;
            }
            #monedaImg{
                position: relative;
                left: -34%;
                top: -590px;
                width: 16vw;
            }
            #service ul{
                padding: 0;
                margin: auto;
                margin-top: 60px;
                padding-top: 300px;
                text-align: center;
            }
            #service ul li{
                line-height: 12px;
                font-size: 22px;
            }
        }
        @media (min-width: 768px) and (max-width: 991px){
            header{
                background-color: rgb(238, 77, 13);
            }
            #service ul{
                padding-top: 50px;
            }
            #service ul li{
                margin-left: -100px;
                font-size: 22px;
            }
            #service div{
                background-image: url(../assets/BGSectio3HorizMd.svg);
            }
        }
        @media (min-width: 992px) and (max-width: 1200px){
            header{
                background-color: rgb(18, 231, 18);
            }
            #service ul{
                margin-top: -30px;
            }
            #service ul li{
                margin-left: -80px;
            }
        }
        @media (min-width: 1200px) {
            header{
                background-color: rgb(41, 22, 212);
            }
            #service ul{
                margin-top: -45px;
            }            
        }
/*<--service Section*/
/*////////////////////////////////////////////////////////==================== Middle Section ====================*/
/*==================== support Section ====================*/
#support{
    background-image: url("../assets/FondoEstrellas.svg"),url("../assets/FondoDegradado2.svg");
    background-attachment: fixed, scroll;
    background-size: cover;
    color: white;
    font-size: 2em;
    font-weight: 200;
    height: 600px;
}
#support h3{
    background-color: white;
    border-radius: 25px;
    padding: 2px 16px 4px 16px;
    width: fit-content;
    color: #2B2A65;
    font-size: 1.3em;
    font-weight: 700;

}
#textSupport{
    margin:auto;
    margin-top: 130px;
}
#IMGSupport{
    width: 70%;
    height: 70%;
    margin-left: 130px;
    margin-top: 60px;
    padding-left: 20px;
}

/*==================== witmoney Section ====================*/
#witmoney{
    background-image: url("../assets/FondoBlancoCohete.svg");
    background-size: cover;
    background-position: center;
    height: 900px;
    margin-top: -500px;
    padding-top: 400px;
    padding-bottom: 100px;
}
#textWitmoney{
    color: #2B2A65;
    margin-left: auto;
    padding-right: 10px;
    margin-top: 200px;
    font-size: 24px;
    font-weight: 400;
    text-align: right;
}
#textWitmoney h2{
    font-weight: 700;
    font-size: 1.7em;
}
#textWitmoney h3{
    font-size: 1.4em;
    font-weight: 600;
}
#IMGWitmoney{
    margin-right: auto;
    width: 360px;
    height: auto;
}
/*==================== security Section ====================*/
#security{
    font-size: 2em;
    color: white;
    font-weight: 200;
    background-image: url("../assets/Fondo\ SSecurity.svg");
    background-size: cover;
    height: 500px;
} 
#TextSecur{
    width: 60%;
}
#IMGSecu{
    z-index: 500 !important;
}
.IMGAsbolSec{
    margin: auto;
    max-width: 95%;
    right: 2.5%;
    position: absolute;
    top: 2030px;
}
.Resalt1{
    background-color: #00F79B;
    border-radius: 20PX;
    padding: 3px 12px;
    font-weight: 700;
    color: #35357A;
}
.Resalt2{
    color: #35357A;
    font-weight: 700;
}
/*<--service Section*/
/*////////////////////////////////////////////////////////==================== Final Section ====================*/

#FinalSection{
    padding-bottom: 50px;
    background: rgb(222,212,204);
    background: linear-gradient(273deg, rgba(222,212,204,1) 0%, rgba(229,229,229,1) 41%, rgba(255,255,255,1) 100%);
}

/*==================== Benefits Section ====================*/
#benefits{
    font-size: 22px;
    padding: 70px 70px 0 70px;
}
#benefits h2{
    color: #2B2A65;
}
#benefImag{
    padding-top: -50px;
}
#bImg{
    width: 135%;
}
.subtParrafo{
    padding: 2px 6px;
    background-color: #2B2A65;
    color: white;
    border-radius: 10px;
    font-weight: 600;
}
.listIcons{
    list-style: none;
}
/*==================== Footer Section ====================*/
#sectionFooter{
    background: rgb(26,26,26);
    background: linear-gradient(312deg, rgba(26,26,26,1) 11%, rgba(27,20,61,1) 41%, rgba(43,42,101,1) 66%);
    border-radius: 70px;
    width: 90%;
    margin: auto;
    margin-top: -40px;
    margin-bottom: 30px;
    -webkit-box-shadow: 10px 10px 29px -3px rgba(0,0,0,0.41);
    -moz-box-shadow: 10px 10px 29px -3px rgba(0,0,0,0.41);
    box-shadow: 10px 10px 29px -3px rgba(0,0,0,0.41);
}
#FormFooter div{
    width: 90%;
}
#contentFooter{
    margin: auto;
}
#newletter{
    margin: auto;
    padding-bottom: 20px;
    margin-right: -40px; 
}
#LinksRRSS{
    margin: auto;
}
.linkrrss{
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
    font-size: 1.4em;
}
#CampoCorreo{
    color: gray;
    text-align: center;
    border: gray 1px;
}
#BotonEnviar{
    color: white;
    
    font-weight: 600;
    background-color: #FE2A6F;
    align-items: center !important;
}
#casillV{
    font-size: 1.2em;
    color: white;
    font-weight: 100;
}
.controlform{
    font-size: 1.3em;
    margin-left: 0;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
}
.miniIconRRSS{
    width: 35px;
    height: 35px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.secFooter{
    padding-top: 60px  ;
    margin-bottom: -50px;
}
.Storesfooter{
    width: 160px;
    margin-bottom: 25px;
    
}
#subTitFooter{
    color: white;
    padding-bottom: 15px;
}
#astrofooter{
    padding: 0;
    margin: 0;
    width: 380px;
    position: relative;
    left: -230px;
    top: -50px;
}
#footCopyR{
    padding-top: 15px;
    padding-bottom: 10px;
    color: white;
    font-size: 0.9em;
    font-weight: 100;
    line-height: 0.3em;
    width: 70%;
    text-align:center;
    border-top: white 2px solid;
    margin: auto;
}
#CR2{
    font-size: 0.85em;
}
/*<--service Section*/